body {
    background-color: var(--second-color);
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --first-color: rgb(177, 50, 0);
    --second-color: rgb(139, 101, 125);
    --third-color: rgb(255, 140, 0);
    --fourth-color: rgb(184, 134, 11);
    --five-color: rgb(231, 138, 153);
    --six-color: rgb(81, 2, 88);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .navbar-brand {
    width: auto;
    height: 3rem;
    color: var(--second-color);
    text-align: center;
}
h4 {
    color: var(--six-color);
    font-family: var(--font-family);
}
.menu-title {
    background-color: var(--five-color);
}
.menu-title h1 {
    font-size: xx-large;
    color: var(--first-color);
    font-style: var(--font-family);
}
.star-rating i {
    font-size: 14px;
    color: var(--fourth-color);
}
.precio {
    font-size: 15px;
    padding:  2px 0;
    color: var(--third-color);
}
.precio strike {
    color:crimson;
    margin-right: 5px;
}
.informacionadicional {
    padding: 2px;
}