body {
    background-color: var(--second-color);
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --first-color: rgb(180, 56, 56);
    --second-color: rgb(139, 101, 125);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .navbar-brand {
    width: auto;
    height: 3rem;
    color: var(--first-color);
    text-align: center;
}
.informacionadicional {
    padding: 2px;
}
#mensaje {
    font-family: var(--font-family);
}
#codigociudad {
    font-family: var(--font-family);
}
#ciudad {
    font-family: var(--font-family);
}
#direccion {
    font-family: var(--font-family);
}
#correo {
    font-family: var(--font-family);
}
#nombre {
    font-family: var(--font-family);
}