body {
    background-color: var(--second-color);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --second-color: #4f2e54;
    --third-color: #FF3FA4;
    --six-color: #ec008e;
    --fourth-color: rgb(184, 134, 11);
    --five-color: rgb(255, 126, 148);
    --seven-color: #f501e9;
}

.navbar .navbar-brand {
    width: auto;
    height: 3rem;
    color: var(--seven-color);
    text-align: center;
}

.navbar {
    top: 0;
    position: sticky;
    z-index: 1;
    margin-bottom: 1rem;
}

h4 {
    color: var(--seven-color);
    font-family: var(--font-family);
}

h2 {
    color: var(--five-color);
}

p {
    color: var(--third-color);
    font-family: var(--font-family);
}

.star-rating i {
    font-size: 14px;
    color: var(--fourth-color);
}

.precio {
    font-size: 15px;
    padding: 2px 0;
    color: var(--third-color);
}

.precio strike {
    color: rgb(237, 46, 85);
    margin-right: 5px;
}

.email,
.icon,
.facebook,
.telefono,
.twitter,
label {
    color: var(--five-color);
}

/*Carta HTML exclusive */
.menu-title {
    background-color: var(--five-color);
}
.menu-title h1 {
    font-size: xx-large;
    color: var(--six-color);
    font-style: var(--font-family);
}